<!DOCTYPE html>
<title>Dashboard</title>

<p>Total projects on system</p>

{{ total_assessments }}


<div id="annual-chart"></div>
<div id="assessments-completed-chart"></div>
<div id="assessments-started-chart"></div>
<div id="user-chart"></div>
<p>
    Logins in last 90 days: {{ user_recent_count }}<br />
    Total users: {{ user_total_count }}</span>
</p>

<div id="duration-chart"></div>

<script src='https://cdn.plot.ly/plotly-2.16.1.min.js'></script>

<script>
function range0(to) {
    return Array.from({ length: to }).map((_, key) => key)
}

function getXYForDurations(durations) {
    const longestDuration = durations.at(-1).duration;

    function sumUpToDuration(upToDuration) {
        return durations.filter(
            ({duration}) => duration <= upToDuration
        ).reduce(
            (prev, curr) => prev + curr.count,
            0
        );
    }

    function nForDuration(filterDuration) {
        return durations.filter(
            ({duration}) => duration === filterDuration
        ).reduce(
            (prev, curr) => prev + curr.count,
            0
        );
    }

    const x = range0(longestDuration + 1);
    const countY = x.map(x => sumUpToDuration(x))
    const maxCountY = countY.at(-1)
    const percentY = countY.map(y => y / maxCountY)

    return { x, y: percentY }
}

const durations_last60days = [
    {% for row in duration_last60 %}
        { duration: {{row.duration}}, count: {{row.count}} },
    {% endfor %}
];

const durations_prev60days = [
    {% for row in duration_prev60 %}
        { duration: {{row.duration}}, count: {{row.count}} },
    {% endfor %}
];

Plotly.newPlot(
    'duration-chart',
    [
        { name: 'last 60 days', type: 'scatter', ...getXYForDurations(durations_last60days) },
        { name: 'prev 60 days', type: 'scatter', ...getXYForDurations(durations_prev60days) },
    ],
    {
        title: 'Projects marked completed in given period by days taken to complete',
        xaxis: {
            title: 'Days between created and finished',
        },
        yaxis: {
            title: 'Percentage of projects completed',
        }
    }
);


const completedMonths = [
    {% for row in completed_assessments_by_updated_month %}
        '{{ row.month|date:"M" }}',
    {% endfor %}
];
const completedCount = [
    {% for row in completed_assessments_by_updated_month %}
        {{ row.count }},
    {% endfor %}
];

Plotly.newPlot(
    'assessments-completed-chart',
    [
        { name: `in the last year`, type: 'bar',
          x: completedMonths.slice(-12), y: completedCount.slice(-12) },
        { name: `in the year before that`, type: 'bar',
          x: completedMonths.slice(-24, -12), y: completedCount.slice(-24, -12) },
    ],
    {
        title: 'Completed projects by month',
        barmode: 'group',
        xaxis: {
            title: 'Month',
        },
        yaxis: {
            title: 'Count',
        }
    }
);

const startedMonths = [
    {% for row in assessments_by_month %}
        '{{ row.month|date:"M" }}',
    {% endfor %}
];
const startedCount = [
    {% for row in assessments_by_month %}
        {{ row.count }},
    {% endfor %}
];

Plotly.newPlot(
    'assessments-started-chart',
    [
        { name: `in the last year`, type: 'bar',
          x: startedMonths.slice(-12), y: startedCount.slice(-12) },
        { name: `in the year before that`, type: 'bar',
          x: startedMonths.slice(-24, -12), y: startedCount.slice(-24, -12) },
    ],
    {
        title: 'Started projects by month',
        barmode: 'group',
        xaxis: {
            title: 'Month',
        },
        yaxis: {
            title: 'Count',
        }
    }
);

const userMonths = [
    {% for row in user_counts_by_login_month %}
        {% if row.month %}
            '{{ row.month|date:"M Y" }}',
        {% endif %}
    {% endfor %}
];
const userCount = [
    {% for row in user_counts_by_login_month %}
        {{ row.count }},
    {% endfor %}
];

Plotly.newPlot(
    'user-chart',
    [
        { name: `in the last year`, type: 'bar', x: userMonths, y: userCount },
    ],
    {
        title: 'User last login by month',
        barmode: 'group',
        xaxis: {
            title: 'Month',
        },
        yaxis: {
            title: 'Count',
        }
    }
);

function uniq(arr) {
    return [...new Set(arr)];
}

const yearData = [
    {% for row in assessments_by_year %}
        { year: {{ row.year | date:"Y" }},
          organisationId: {{ row.organisation_id|default:"null" }},
          organisationName: '{{ row.organisation__name|default:"(individual)" }}',
          count: {{ row.count }} },
    {% endfor %}
];

const allYears = uniq(yearData.map(row => row.year))
const allYearsFormatted = allYears.map(year => `Y${year}`)
const allOrganisations = uniq(yearData.map(row => row.organisationId))
    .map(organisationId => [
        organisationId,
        yearData.find(row => row.organisationId === organisationId).organisationName
    ])

const data = allOrganisations.map(([organisationId, organisationName]) => {
    return {
        type: 'bar',
        name: organisationName,
        x: allYears.map(year =>
            yearData.find(row => row.organisationId === organisationId && row.year === year)?.count ?? 0
        ),
        y: allYearsFormatted,
        orientation: 'h',
    };
})

Plotly.newPlot(
    'annual-chart',
    data,
    {
        title: 'Completed projects by last updated year',
        barmode: 'stack',
    }
);

</script>
