:root {
    --grey-100: #212529;
    --grey-200: #343a40;
    --grey-300: #495057;
    --grey-400: #6c757d;
    --grey-500: #adb5bd;
    --grey-600: #ced4da;
    --grey-700: #dee2e6;
    --grey-800: #e9ecef;
    --grey-900: #f8f9fa;

    --app-color: #0074d9;
    --blue-400: #8cd4ff;
    --blue-700: #dff3ff;

    --warning-yellow: #fcf8e3;
    --red: #ff2712;
    --pale-green: #beeebe;
    --golden: #e6c577;
    --black: #000;
    --white: #fff;

    --datavis-1: var(--blue-400);
    --datavis-2: #ffe69c;
    --datavis-1-dark: #055160;
    --datavis-2-dark: #664d03;

    /* For shading the backdrop of a modal */
    --bg-shaded: rgba(0, 0, 0, 0.5);

    --nav-height: 60px;
    --sidebar-width: 290px;
}

html,
body {
    font-family: 'Arial', sans-serif;
    padding: 0px;
    margin: 0px;
    background-color: var(--grey-800);
}

h2 {
    color: #111;
    font-size: 25px;
    line-height: 22px;
    margin-bottom: 25px;
}

h3 {
    color: #333;
    font-size: 20px;
    line-height: 22px;
}

hr {
    background: var(--app-color);
    border: 0;
    height: 2px;
    margin: 0px;
}

a {
    color: #1f75cb;
    text-decoration: underline;
}

a.btn {
    text-decoration: none;
}

a:hover {
    color: var(--app-color);
}

#editor__main {
    background: white;
    max-width: 1150px;
    margin-left: var(--sidebar-width);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
    padding: 30px;
    position: relative;
    z-index: 100;
}

input[type='checkbox'] {
    padding: 0px;
    margin: 0px;
}

body .modal {
    /* new custom width */
    width: 1080px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin-left: -540px;
}

.modal-body {
    max-height: 65vh;
}

@media (max-width: 767px) {
    body {
        padding: 0;
    }
}

@media (max-width: 450px) {
    .row {
        padding: 10px;
    }
    .col2 {
        width: 100%;
    }
    .col1-inner {
        padding: 5px;
    }
    .col2-inner {
        padding: 5px;
    }
}

@media (min-width: 450px) and (max-width: 960px) {
    .col2 {
        width: 100%;
    }
}
@media (min-width: 960px) {
}

.rounded {
    border-radius: 4px;
}

.border-box-sizing {
    box-sizing: border-box;
}

.hover-gray-bg:hover,
.librow:hover {
    background-color: var(--grey-900);
}

.text-muted {
    color: #6a6a6a;
}

.text-callout {
    max-width: 50em;
    padding: 10px 15px;
    background-color: var(--grey-800);
}

.text-callout p:last-child {
    margin-bottom: 0;
}

.small-caps {
    color: var(--grey-300);
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: bold;
    margin-bottom: 0.125rem;
}

.table-unstyled,
.table-unstyled tr,
.table-unstyled td,
.table-unstyled th {
    padding: 0;
    margin: 0;
    border: none;
}

.tr-no-top-border td {
    border-top: none;
}

.table--vertical-middle tr,
.table--vertical-middle td,
.table--vertical-middle th {
    vertical-align: middle;
}

.clickable {
    cursor: pointer;
}
.clickable-hover:hover {
    background-color: var(--grey-800);
}

.list-unstyled {
    margin: 0;
    padding: 0;
    list-style: none;
}
.list-unstyled li {
    margin: 0;
    padding: 0;
}

.text-units {
    font-size: 0.8rem;
}
.text-bigger {
    font-size: 1.25rem;
}

.text-nowrap {
    white-space: nowrap;
}
.text-right {
    text-align: right !important;
}
.text-center {
    text-align: center !important;
}
.text-left {
    text-align: left !important;
}

.text-normal {
    font-weight: normal !important;
    font-style: normal !important;
}
.text-bold {
    font-weight: bold;
}
.text-italic {
    font-style: italic;
}

.text-warning {
    color: var(--red);
}

.text-tabular-nums {
    font-variant-numeric: tabular-nums;
}

.d-i {
    display: inline;
}
.d-ib {
    display: inline-block;
}
.d-flex {
    display: flex;
}
.d-iflex {
    display: inline-flex;
}
.d-b {
    display: block;
}

.flex-wrap {
    flex-wrap: wrap;
}
.flex-nowrap {
    flex-wrap: nowrap;
}
.flex-v {
    flex-direction: column;
}
.flex-noshrink {
    flex-shrink: 0;
}

.align-right {
    text-align: right !important;
}
.align-items-start {
    align-items: start !important;
}
.align-items-center {
    align-items: center !important;
}

.justify-content-between {
    justify-content: space-between;
}
.justify-content-around {
    justify-content: space-around;
}
.justify-content-end {
    justify-content: end;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.mt-0 {
    margin-top: 0px !important;
}
.ml-0 {
    margin-left: 0px !important;
}
.mb-0 {
    margin-bottom: 0px !important;
}
.mr-0 {
    margin-right: 0px !important;
}
.mx-0 {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.my-0 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.ma-0 {
    margin: 0px !important;
}

.pt-0 {
    padding-top: 0px !important;
}
.pl-0 {
    padding-left: 0px !important;
}
.pb-0 {
    padding-bottom: 0px !important;
}
.pr-0 {
    padding-right: 0px !important;
}
.px-0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.py-0 {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.pa-0 {
    padding: 0px !important;
}

.mt-3 {
    margin-top: 3.5px !important;
}
.ml-3 {
    margin-left: 3.5px !important;
}
.mb-3 {
    margin-bottom: 3.5px !important;
}
.mr-3 {
    margin-right: 3.5px !important;
}
.mx-3 {
    margin-left: 3.5px !important;
    margin-right: 3.5px !important;
}
.my-3 {
    margin-top: 3.5px !important;
    margin-bottom: 3.5px !important;
}
.ma-3 {
    margin: 3.5px !important;
}

.pt-3 {
    padding-top: 3.5px !important;
}
.pl-3 {
    padding-left: 3.5px !important;
}
.pb-3 {
    padding-bottom: 3.5px !important;
}
.pr-3 {
    padding-right: 3.5px !important;
}
.px-3 {
    padding-left: 3.5px !important;
    padding-right: 3.5px !important;
}
.py-3 {
    padding-top: 3.5px !important;
    padding-bottom: 3.5px !important;
}
.pa-3 {
    padding: 3.5px !important;
}

.mt-7 {
    margin-top: 7px !important;
}
.ml-7 {
    margin-left: 7px !important;
}
.mb-7 {
    margin-bottom: 7px !important;
}
.mr-7 {
    margin-right: 7px !important;
}
.mx-7 {
    margin-left: 7px !important;
    margin-right: 7px !important;
}
.my-7 {
    margin-top: 7px !important;
    margin-bottom: 7px !important;
}
.ma-7 {
    margin: 7px !important;
}

.pt-7 {
    padding-top: 7px !important;
}
.pl-7 {
    padding-left: 7px !important;
}
.pb-7 {
    padding-bottom: 7px !important;
}
.pr-7 {
    padding-right: 7px !important;
}
.px-7 {
    padding-left: 7px !important;
    padding-right: 7px !important;
}
.py-7 {
    padding-top: 7px !important;
    padding-bottom: 7px !important;
}
.pa-7 {
    padding: 7px !important;
}

.mt-15 {
    margin-top: 15px !important;
}
.ml-15 {
    margin-left: 15px !important;
}
.mb-15 {
    margin-bottom: 15px !important;
}
.mr-15 {
    margin-right: 15px !important;
}
.mx-15 {
    margin-left: 15px !important;
    margin-right: 15px !important;
}
.my-15 {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}
.ma-15 {
    margin: 15px !important;
}
.pt-15 {
    padding-top: 15px !important;
}
.pl-15 {
    padding-left: 15px !important;
}
.pb-15 {
    padding-bottom: 15px !important;
}
.pr-15 {
    padding-right: 15px !important;
}
.px-15 {
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.py-15 {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}
.pa-15 {
    padding: 15px !important;
}

.mt-30 {
    margin-top: 30px !important;
}
.ml-30 {
    margin-left: 30px !important;
}
.mb-30 {
    margin-bottom: 30px !important;
}
.mr-30 {
    margin-right: 30px !important;
}
.mx-30 {
    margin-left: 30px !important;
    margin-right: 30px !important;
}
.my-30 {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}
.ma-30 {
    margin: 30px !important;
}

.pt-30 {
    padding-top: 30px !important;
}
.pl-30 {
    padding-left: 30px !important;
}
.pb-30 {
    padding-bottom: 30px !important;
}
.pr-30 {
    padding-right: 30px !important;
}
.px-30 {
    padding-left: 30px !important;
    padding-right: 30px !important;
}
.py-30 {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}
.pa-30 {
    padding: 30px !important;
}

.mb-45 {
    margin-bottom: 45px;
}

.line-top {
    border-top: 2px solid var(--app-color);
    padding-top: 0.5rem;
}

.big-checkbox {
    width: 1.2rem !important;
    height: 1.2rem !important;
}

.bg-white {
    background-color: white;
}
.bg-red {
    background-color: var(--red);
}
.bg-pale-green {
    background-color: var(--pale-green);
}
.bg-blue-700 {
    background-color: var(--blue-700);
}
.bg-golden {
    background-color: var(--golden);
}

.fg-white {
    color: var(--white);
}

.btn--icon {
    display: inline-flex;
}

.btn--icon svg {
    align-self: center;
    margin-right: 0.25rem;
    height: 0.9rem;
    width: 0.9rem;
}

.house {
    width: 100%;
    max-width: 500px;
    font-size: 36px;
}
.house--light {
    fill: var(--datavis-1);
}
.house--light-text {
    fill: var(--datavis-1-dark);
}
.house--dark {
    fill: var(--datavis-2);
}
.house--dark-text {
    fill: var(--datavis-2-dark);
}

.square {
    display: inline-block;
    width: 1rem;
    height: 1rem;
}

.circle {
    display: inline-block;
    width: 1ch;
    height: 1ch;
    clip-path: circle(0.5ch);
}

.member-last-active {
    color: var(--grey-300);
}

button.demote-role {
    cursor: pointer;
    margin-left: 0.5rem;
}

.new-row {
    background-color: var(--blue-700);
    animation: fade-to-transparent 4s linear forwards; /* Animation settings */
}

@keyframes fade-to-transparent {
    0% {
        background-color: var(--blue-400);
    }
    60% {
        background-color: var(--blue-400);
    }
    100% {
        background-color: rgba(0, 0, 0, 0);
    }
}

/*** Top bar ***/

#editor__title {
    position: fixed;
    z-index: 0;
}

#editor__controls {
    display: flex;
    align-items: center;
    background-color: var(--grey-900);
    position: fixed;
    z-index: 200;
    right: 0;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

/*** Sidebar ***/

#editor__sidebar {
    height: calc(100% - var(--nav-height));
    width: var(--sidebar-width);
    position: fixed;
    overflow-y: scroll;
    font-size: 13px;
}

#editor__sidebar a,
#editor__sidebar a:hover {
    text-decoration: none;
    color: black;
}

.side-section {
    padding-bottom: 10px !important;
}

.side-section__header {
    padding: 10px 10px 2px 20px;
    font-size: 0.8rem;
    font-weight: bold;
    color: #666;
    text-transform: uppercase;
}

.side-section__content {
    display: block;
    padding: 2px 0 2px 20px;
}

.sidebar-scenario {
    margin: 5px;
    border-radius: 5px;
}

.sidebar-scenario--current {
    background-color: var(--grey-600);
}

.sidebar-link {
    cursor: pointer;
}

.sidebar-link:hover,
.sidebar-link--current {
    background-color: var(--grey-600);
}

.sidebar-link--current:hover {
    background-color: var(--grey-500);
}

.sidebar-scenario--current .sidebar-link:hover,
.sidebar-scenario--current .sidebar-link--current {
    background-color: var(--grey-500);
}

.addressoptions {
}

.addressoptions-option {
    border: 1px solid var(--grey-700);
    border-bottom: 0;
    display: flex;
    gap: 7px;
    padding: 7px;
    cursor: pointer;
}

.addressoptions-option:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.addressoptions-option:last-child {
    border: 1px solid var(--grey-700);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.addressoptions-option:hover {
    background-color: var(--grey-700);
}

/* Bootstrap by default has a very low contrast ratio for text here */
.alert-warning {
    color: #735829;
}

.max-width-1100 {
    max-width: 1100px;
}

/*** Assessment list ***/

.status--for-review {
    background-color: #ffe4bb;
    color: #7d4f08;
}

/*** Gallery ***/

.gallerycard {
    border: 1px solid var(--grey-600);
    background-color: var(--grey-900);
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    max-width: 800px;
}
.gallerycard--selected .gallerycard-content {
    background-color: var(--blue-700);
}
.gallerycard--selected {
    border-color: var(--blue-400);
}
.gallerycard-image {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    max-height: 300px;
}
.gallerycard-image img {
    object-fit: scale-down;
    max-height: 100%;
    max-width: 100%;
}
.gallerycard-content {
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-direction: column;
    padding: 15px;
    background-color: var(--grey-900);
}
.gallerycard-checkbox {
    /* Override Bootstrap */
    width: 15px !important;
    height: 15px;
}
.gap-3 {
    gap: 3px;
}
.gap-7 {
    gap: 7px;
}
.gap-15 {
    gap: 15px;
}
.gap-30 {
    gap: 30px;
}

.filedropper-dropzone {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: var(--bg-shaded);

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    color: white;
}

.filedropper-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.filedropper-label {
    font-size: 1em;
    display: inline-flex;
    align-items: center;
}

/*** Disclosure ***/

summary {
    background-color: var(--grey-800);
    cursor: pointer;
    padding: 7px;
    width: max-content;
    margin-bottom: 7px;
}

/**** FORMS ****/

label input[type='radio'] {
    margin-top: 0;
}

.input--number {
    width: 50px;
}

.input--auto-width {
    width: auto;
}

/**** LIBRARY EDITOR ****/

.table--library-editor {
}

.table--library-editor input,
.table--library-editor select,
.table--library-editor textarea {
    margin-bottom: 0;
}

.table--library-editor th {
    background-color: #eee;
}

.table--library-editor tr:focus-within {
    background-color: lightblue;
}

.table--library-editor tr:focus-within th {
    background-color: #ccc;
}

.table--library-editor td,
.table--library-editor th {
    border-top: 0;
    padding-bottom: 4px;
    padding-top: 4px;
}

.table--library-editor tbody th {
    position: sticky;
    left: 0;
    z-index: 1;
}

.table--library-editor thead th:first-child {
    position: sticky;
    left: 0;
    z-index: 1;
}

/**** NAVIGATION ****/

.nav-container {
    width: 100%;
    box-sizing: border-box;
}

.nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    height: var(--nav-height);
}

.nav-main a {
    display: inline-flex;
    height: 40px;
    align-items: center;
    padding: 0 7px;
    text-decoration: none;
}

.nav-main a:hover {
    background-color: var(--grey-700);
    color: var(--grey-200);
}

.nav-main-heading {
    font-size: 1rem;
    line-height: 1;
    margin: 0;
}

tr.item {
    vertical-align: top;
}

/*** Spinner ***/

.spinner {
    border: 5px solid var(--grey-700);
    border-top-color: var(--app-color);
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    animation: spin 1s linear infinite;
    display: inline-block;
    vertical-align: middle;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.scenario-locked-warning {
    background-color: var(--warning-yellow);
    padding: 10px;
    border-radius: 8px;
}

svg.bi {
    /* Bootstrap Icon SVG */
    vertical-align: text-top;
}

.cc {
    color: var(--app-color);
    font-weight: bold;
    padding-right: 20px;
}

.title {
    padding: 10px 30px;
    color: var(--grey-400);
    float: left;
}

.modal-backdrop {
    opacity: 1;
    background-color: var(--bg-shaded);
    z-index: auto;
}

body .modal {
    /* new custom width */
    width: 560px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin-left: -280px;
}

.card {
    border: 1px solid #e1e1e1;
    padding: 15px;
    margin-bottom: 7px;
}
.rounded-cards > .card:first-child {
}
.rounded-cards > .card:last-child {
    margin-bottom: 0;
}

/**** ARTISANAL DIALOGUE BOXES ****/

/* Based on the CSS at https://www.w3.org/TR/wai-aria-practices-1.1/examples/dialog-modal/dialog.html */

/* Apply to body when there's a dialogue open */
.has_dialog {
    overflow: hidden;
}

.notbootstrap[role='alertdialog'],
.notbootstrap[role='dialog'] {
    box-sizing: border-box;
    border: 1px solid var(--black);
    background-color: var(--white);
    min-height: 100vh;
}

.table-td-inherit td {
    padding: inherit;
    line-height: inherit;
    text-align: inherit;
    vertical-align: inherit;
    border-top: inherit;
}

@media screen and (min-width: 640px) {
    .notbootstrap[role='alertdialog'],
    .notbootstrap[role='dialog'] {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 4rem;
        left: 50vw; /* move to the middle of the screen (assumes relative parent is the body/viewport) */
        transform: translateX(-50%); /* move backwards 50% of this element's width */
        min-width: calc(700px - (15px * 2)); /* == breakpoint - left+right margin */
        max-height: calc(100vh - 8rem); /* 4rem top and bottom */
        min-height: auto;
        box-shadow:
            0 19px 38px rgba(0, 0, 0, 0.12),
            0 15px 12px rgba(0, 0, 0, 0.22);
        --border-radius: 6px;
        border-radius: var(--border-radius);
    }
}

.dialog-header {
    padding: 15px;
    background-color: var(--grey-900);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.dialog-header select {
    margin-bottom: 0;
    max-width: 30em;
}

.dialog-x {
    border: none;
    background: none;
    padding: 0;
}

.dialog-x svg {
    fill: var(--grey-400);
}

.dialog-x:hover svg,
.dialog-x:focus svg {
    fill: var(--black);
}

.dialog-body {
    padding: 15px;
    overflow-y: auto;
}

.dialog-footer {
    padding: 15px;
    background-color: var(--grey-900);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.dialog-backdrop {
    position: fixed;
    overflow-y: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

@media screen and (min-width: 640px) {
    .dialog-backdrop {
        background: var(--bg-shaded);
    }
}

/*** Form grid ***/

.form-grid__root {
    display: grid;
    grid-template-columns: minmax(max-content, 120px) auto;
    grid-auto-rows: minmax(30px, auto);
    grid-gap: 7px 30px;
    margin-bottom: 15px;
}

.form-grid__root input,
.form-grid__root select,
.form-grid__root textarea {
    /* Need to break out of BEM in order to undo Bootstrap margins */
    margin-bottom: 0;
}

/*** FUVC ***/

.combined-method-input__table {
    border-top: solid 1px var(--grey-600);
}

.combined-method-input__heading-row {
    border-bottom: solid 1px var(--grey-600);
}

.combined-method-input__layer-row--stripe {
    background-color: var(--grey-900);
}

.combined-method-input__layer-id-heading-cell,
.combined-method-input__layer-id-cell {
    border-right: solid 1px var(--grey-600);
}

.combined-method-input__layer-id-heading-cell,
.combined-method-input__thickness-heading-cell {
    width: 0;
}

.combined-method-input__bridging-proportion-heading-cell {
    text-wrap: nowrap;
}

.combined-method-input__main-material-heading-cell,
.combined-method-input__bridging-material-heading-cell {
    width: 50%;
}

.floor-insulation-material-selector__root {
    display: flex;
    min-height: 40px;
    justify-content: space-between;
}

.floor-insulation-material-selector__material-view {
    padding-right: 10px;
}

.unpad-8 {
    margin: -8px;
    padding: 8px;
}

.info-tooltip__text {
    width: 20em;
    margin-left: -120px;
    top: 100%;
    left: 50%;
    background-color: black;
    color: white;
    text-align: left;
    padding: 7px;
    border-radius: 4px;
    position: absolute;
    z-index: 100;
    font-weight: normal;
}

/** SAP Worksheet */

.sap-worksheet-output {
    width: 100%;
}

/* heading rows */
.sap-worksheet-output td,
.sap-worksheet-output th {
    padding: 3px 5px;
}

.sap-worksheet-output th {
    border-top: solid black 1px;
}

.sap-worksheet-output tr:last-child th,
.sap-worksheet-output tr:last-child td {
    border-bottom: solid black 1px;
}
/* /heading rows */

/* col widths */

.sap-worksheet-output:not(.flexible) td.sap-cell {
    width: 45px;
}
.sap-worksheet-output:not(.flexible) td.unit {
    width: 60px;
}
.sap-worksheet-output:not(.flexible) td.annual {
    width: 80px;
}
.sap-worksheet-output:not(.flexible) td.monthly {
    width: 50px;
}

/* /col widths */

.sap-worksheet-output td.numeric {
    text-align: right;
    font-variant-numeric: tabular-nums;
}

.sap-worksheet-output td.monthly,
.sap-worksheet-output th.monthly {
    background: var(--grey-800);
}

.sap-worksheet-output td.annual,
.sap-worksheet-output th.annual {
    background: var(--grey-600);
}

.sap-worksheet-output td.unit {
    white-space: nowrap;
}

.sap-worksheet .mode-selector {
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    position: sticky;
    top: -1px;
    background: white;
}

.sap-worksheet .mode-selector label {
    display: inline-block;
    margin-right: 1ch;
    font-weight: bold;
}

.sap-worksheet .mode-selector select {
    width: auto;
}

dl {
    margin: 0 0 10px;
}
